.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post_header{
    display: flex;
    margin-bottom: 10px;
}
.post_info{
    margin-left: 10px;
}
.post_info > p{
    font-size: 12px;
    color:gray
}

.post_info > h2{
    font-size: 15 px;
    color:gray
}

.post_buttons{
    display: flex;
    justify-content: space-evenly;
}
.post_media{
    width:100%;
    max-height:60%;
    margin-top: 2%;
}
.post_media > img{
    max-width: 100%;
    max-height: 50%;
}

